
// Breakpoints
$mobile: 918px;
$small-mobile: 320px;

// Colors
$bg-color: white;
$text-secondary: #808080;
$dark-grey: #4c4c4c;
$input-bg: #d1d3d4;
$input-border: #b6d8cf;
$input-text: #315f52;
$button-hover: #b6d8cf;
$submit-bg: #077054;
$submit-text: #99fa99;
$blog-border: #c7c7c7;
$footer-text: #999999bf;
